.menu {

}

.menu-list {
  padding: 0;
  margin:0;
  list-style: none;
}

.menu-item {
  
}

.menu-item a {
  display: flex;
  font: var(--button);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 2.5rem;
  align-items: center;
  column-gap: .5em;
}

.menu-item a:hover {
  text-decoration: none;
}

.menu-item [class^="icon-"] {
  font-size: 1.5rem;
}

.menu-item.is-active a {
  box-shadow: inset 4px 0 0 0 var(--primary);
  color: var(--white);
}

.menu-item.is-active .icon-home::before {
  content: "\e909";
}

.menu-item.is-active .icon-search::before {
  content: "\e913";
}

/* .menu-item span {
  margin-top: 5px;
} */