.slider {
  background: rgba(255,255,255, .2);
  height: .25rem;
  border-radius: .25rem;
}

.slider:hover .slider-progress {
  background: var(--primary);
}

.slider:hover .slider-button {
  display: block;
}

.slider-progress {
  height: inherit;
  width: 20%;
  background: var(--white);
  position: relative;
}

.slider-button {
  background: var(--white);
  border-radius: 50%;
  height: 200%;
  aspect-ratio: 1/1;
  padding: 0;
  border: 0;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
}